@use 'sass:selector';

.ex-calc2 {
  position: absolute;
  top: 50%;
  right: 50%;
  max-width: 330px;
  padding: 30px 20px;
  border: 5px solid #000000;
  transform: translate3D(50%, 15%, 0);

  &__result {
    height: 200px;
    border: 2px solid black;
    border-top: none;
    display: flex;
    flex-direction: column;
    padding: 30px;

    &--main {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    &--sub {
      margin-left: 5px;
      font-size: 14px;
      font-weight: 700;
    }
  }
}
