.navbar {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 30px;
  &--ul {
    list-style: none;
    display: flex;

    li {
      padding: 5px 0;
      margin: 5px 10px;
      background: #eee;
      padding: 10px 15px;
      border-radius: 10px;
      font-weight: 700;
    }
  }
}
